nav{
    background: rgba(255,255,255,0.2) !important; 
    background: transparent;
    -webkit-backdrop-filter: blur(5px) saturate(125%);
    backdrop-filter: blur(20px) saturate(125%);
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #f8f9fa;
}